<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include templates/dependencies/stylesheets %>
</head>

<body ng-app="OTP" class="bg">

  <nav class="navbar bg-faded nb">
    <a class="navbar-brand nb" href="#">Secret Code</a>
  </nav>
  <div class="row">
    <div ng-controller="OTPEncryptCnt" class="col-md-6">
      <% include templates/OTPEncrypt %>

    </div>
    <div ng-controller="OTPDecryptCnt" class="col-md-6">
      <% include templates/OTPDecrypt %>
    </div>
  </div>

  <div ng-controller="msgSec">
    <div class="row">
      <div class="col-md-6">
        <label>Messages</label>
        <ol class="list-group">
          <span ng-repeat="item in newMsg track by item.id">
              <li ng-click="loadMsg(item.message)" class = "list-group-item">{{item.message}}</li>
            </span>
        </ol>
      </div>
      <div class="col-md-6">
        <label>Keys</label>
        <ol class="list-group">
          <span ng-repeat="item in newMsg track by item.id">
              <li ng-click="loadKey(item.key)" class = "list-group-item">{{item.key}}</li>
            </span>
        </ol>
      </div>
    </div>
    <div class="row">
      
      <form role="form">
        <div class="col-md-6">
        <textarea class="form-control" ng-model="contents" placeholder="Enter text..."></textarea>
        </div>
        <div class="col-md-6">
        <textarea class="form-control" ng-model="key" placeholder="Enter key..."></textarea>
        </div>
        <div class="col-md-6">
        <input ng-click="sendMsg()" type="submit" class="btn btn-default">
        </div>
      </form>
      
    </div>


  </div>


  <% include templates/dependencies/scripts %>
</body>

</html>