<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include templates/dependencies/stylesheets %>
</head>

<body ng-app="OTP" class="bg">
  <div class="row">
    <div ng-controller="OTPEncryptCnt" class="col-md-6">
      <% include templates/OTPEncrypt %>
    </div>
    <div ng-controller="OTPDecryptCnt" class="col-md-6">
      <% include templates/OTPDecrypt %>
    </div>
  </div>


  <div class="container bootstrap snippet" ng-controller="msgSec">
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <div class="portlet portlet-default">
          <ol>
            <span ng-repeat="item in newMsg track by item.id">
              <li>{{item.message}}</li>
            </span>
            </ol>
          <!--<textarea class="form-control" ng-disabled="true" ng-model = "newMsg"></textarea>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <div class="portlet portlet-default">
          <div id="chat" class="panel-collapse collapse in">
                <form role="form">
                  <div class="form-group">
                    <textarea class="form-control" ng-model="contents" placeholder="Enter message..."></textarea>
                    <input ng-click="sendMsg()" type="submit" class="btn btn-default">
                  </div>
                </form>
              
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include templates/dependencies/scripts %>
</body>

</html>