<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include templates/dependencies/stylesheets %>
</head>
<body ng-app="OTP" class="bg">
  <div class="row">
    <div ng-controller="OTPEncryptCnt" class="col-md-6">
      <% include templates/OTPEncrypt %>
    </div>
    <div ng-controller="OTPDecryptCnt" class="col-md-6">
      <% include templates/OTPDecrypt %>
    </div>
  </div>
  <% include templates/dependencies/scripts %>
</body>

</html>