<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include templates/dependencies %>
  </head>
  <body>
  	<table class="table">
  		<thead>
  			<th>asdf</th>
  			<th>asdf</th>
  			<th>asdfasdf</th>
  		<thead>
  	</table>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
