<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include templates/dependencies %>
  </head>
  <body ng-app="OTP">
    <div ng-controller="OTPCntl">
      <form>
        <input type="text" ng-model="name">
        <input ng-click="submitData()" type="submit">
      </form>
    </div>
  </body>
</html>
