body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.bg {
  background-color: #D3D2C2;
}

.nb {
  background-color: #88866F;
  color: #030305;
  font-family: Arial, Helvetica, sans-serif;
}
